/*

This CSS file will be included with your plugin, and
available in the app when your plugin is enabled.

If your plugin does not need CSS, delete this file.

*/

.obsidian-plugin-mtg__decklist__section-list {
    list-style: none;
}

.obsidian-plugin-mtg__decklist__section-list-item {
    font-weight: 400;
    display: flex;
}

.obsidian-plugin-mtg__decklist__section-list-item span {
    flex: 1;
}

.obsidian-plugin-mtg__count {
    flex: 1;
}


.obsidian-plugin-mtg__insufficient-count {
    color: #666;
    font-style: italic;
}

.obsidian-plugin-mtg__comment {
    color: #999;
    font-style: italic;
}

.obsidian-plugin-mtg__card-price {

}

.obsidian-plugin-mtg__error {
    color: #a33;
    font-style: italic;
}

.obsidian-plugin-mtg__decklist__section-heading {
    font-weight: 800;
}

.obsidian-plugin-mtg__meta-panel {
    height: 180px;
    display: flex;
}

.obsidian-plugin-mtg__card-image {
    height: 180px;
}

.obsidian-plugin-mtg__card-image-container {
    flex: 1;
    text-align: right;
}

.obsidian-plugin-mtg__buy-button {
    flex: 1;
    margin: 5px;
}

.obsidian-plugin-mtg__buy-buttons-container {
    /* height: 240px; */
    flex: 2 2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}